.table_header {
    margin: auto !important;
    text-align: center;
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
#movie_table {
    margin: auto !important;
    width: 90% !important;
}

.form-signin {
    max-width : 330px;
    padding: 15px;
}

.custom-navbar {
    padding: 20px;
    font-size: 30px;

}